<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Article Analysis</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    </head>

    <body>

        <header>
            <div class="">
                <h1>Article Analysis</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="address" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a website address here">
                    <input id='submit-button' type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section id='response'>
                <div id='error-message'>This is an error message</div>
                <div id='result'>
                    <h2>Site:</h2>
                    <p class='ignore-transform'></p>
                    <h2>Language:</h2>
                    <p></p>
                    <h2>Category:</h2>
                    <p></p>
                    <h2>Topics discussed:</h2>
                    <p></p>
                </div>
            </section>
        </main>

        <footer>
            <p>Content and final website design by Meghan Dunham &copy;2020
                <br>Basic starter code provided by Udacity as part of their Front End Nanodegree program.
                <br>Text analysis provided by <a href='https://www.meaningcloud.com/' target='_blank'>Meaning Cloud</a>.</p>
        </footer>

    </body>
</html>
